.env
# Ignore only files named adenzo.* inside storage/logs/
storage/logs/adenzo.*

# But explicitly do NOT ignore the folders
!storage/
!storage/logs/

service.json
/.idea
docker
go.mod
go.sum
