.env
# Ignore only files named ekomasi.* inside storage/logs/
storage/logs/ekomasi.*

# But explicitly do NOT ignore the folders
!storage/
!storage/logs/

service.json
/.idea
docker
data/
go.mod
go.sum
